/* :root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: #333333;
    --Dark-Grey: #1F1F1F;
    --Off-Black: #141414;
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: "Inter", sans-serif;
}

main {
    background-color: #141414;
    color: #ddd;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    width: 25%;
    background-color: #1F1F1F;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    border-radius: 15px;
    
}

.header img {
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.header h1 {
    margin: 0;
    color: #ddd;
}

.header h3 {
    color: #BAD260;
    margin-top: 8px;
    margin-bottom: 30px;
}

.header p {
    color: #B6B6B6;
    margin-bottom: 30px;
    font-weight: 700;
}

/* Social Section */

.social {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.btn {
    padding: 20px;
    cursor: pointer;
    width: 90%;
    border-radius: 15px;
    border-style: none;
    background-color: #333333;
    color: white;
    text-decoration: none;
}

.btn:hover {
    background-color: #C3F82A;
    color: #000;

}

@media all and (max-width: 375px) {
    .container {
            width: 70%;
        }
}

@media all and (min-width: 376px) {
    .container {
        width: 25%;
    }
}